@model ProductVm
@{
    double rating = Model.Product.Rating;
    int fullStars = (int)rating;
    bool halfStar = rating - fullStars >= 0.5;
}

<section class="breadcrumbsection">
    <div class="breadcrumbcontainer">
        <div class="breadcrumbinfo">
            <h1>Product Detail</h1>
            <p> <a asp-action="Index" asp-controller="Home">Home</a> / <span>Detail</span> </p>
        </div>
    </div>
</section>

<section class="detailuppersection grid grid-cols-1 lg:grid-cols-2">
    <div class="img-slidecontainer">

        <div class="imgcontainer">
            <!-- <img src="./image/product/productimage.webp" alt=""> -->

            <div style="--swiper-navigation-color: #000; --swiper-pagination-color: #fff" class="swiper mySwiper2 big-slide">
                <div class="swiper-wrapper">
                    @foreach (var img in Model.Product.ProductImages)
                    {
                        <div class="swiper-slide">
                            <img src="~/client/image/product/@(img.Url)" />
                        </div>
                    }
                    
                    
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>

            <div thumbsSlider="" class="swiper mySwiper" style="margin-top: 1rem;">
                <div class="swiper-wrapper">

                    @foreach (var img in Model.Product.ProductImages)
                    {
                        <div class="swiper-slide">
                            <img src="~/client/image/product/@(img.Url)" />
                        </div>
                    }

                </div>
            </div>

        </div>
        
        
    </div>
    <div class="productinfocontainer">
        <h1 class="productname">@Model.Product.Name</h1>
        <p class="productdescription">@Model.Product.Description</p>
        <div class="ratingcontainer">
            <div class="productrating">

                @for (int i = 0; i < fullStars; i++)
                {
                    <i class="fa-solid fa-star" style="color: #cbba9c;"></i>
                }

                @if (halfStar)
                {
                    <i class="fa-solid fa-star-half-stroke" style="color: #cbba9c;"></i>
                }

                @for (int i = fullStars + (halfStar ? 1 : 0); i < 5; i++)
                {
                    <i class="fa-regular fa-star" style="color: #cbba9c;"></i>
                }

            </div>
            @*<p> <span>4</span> reviews</p>*@
        </div>
        <div class="productfeaturescontainer">
            <div class="pricecontainer eachfeature">
                <p class="featureleftword">Price</p>
                <div class="productpricecontainer grid">
                    @if(Model.Product.DiscountPrice > 0)
                    {
                        <div class="disocuntedprice">$@Model.Product.DiscountPrice</div>
                        <del class="oldprice">$@Model.Product.SellPrice</del>
                    }
                    else
                    {
                        <div class="disocuntedprice">$@Model.Product.SellPrice</div>
                    }
                </div>
            </div>
            <div class="sizecontainer eachfeature">
                <p class="featureleftword">Size</p>
                <div class="productsizecontainer grid grid-cols-1 gap-1 sm:grid-cols-2 lg:grid-cols-4">
                    @foreach(var size in Model.Product.ProductSize)
                    {
                        <div class="sizecon featurebox">@size.Size.Name</div>
                    }
                   
                    
                </div>
            </div>
            <div class="bandcontainer eachfeature">
                <p class="featureleftword">Band Material</p>
                <div class="productbandcontainer grid grid-cols-1 gap-1 lg:grid-cols-2">
                    <div class="bandcon featurebox">@Model.Product.BandType.Name</div>
                </div>
            </div>
            <div class="vendorcontainer eachfeature">
                <p class="featureleftword">Vendor</p>
                <span>@Model.Product.Vendor.Name</span>
            </div>
            @* <div class="quantitycontainer eachfeature">
                <p class="featureleftword">Quantity</p>
                <div class="inputcontainer">
                    <button class="decreasebtn"><i class="fa-solid fa-minus"></i></button>
                    <input type="number" name="" id="counter" min="1" value="1">
                    <button class="increasebtn"><i class="fa-solid fa-plus"></i></button>
                </div>
            </div> *@
        </div>
        <div class="mainbuttoncontainer">
            <a asp-action="AddToCart" asp-controller="Product" asp-route-id="@Model.Product.Id"><div>Add To Cart</div></a>
            <a asp-action="AddToWishlist" asp-controller="Product" asp-route-id="@Model.Product.Id"><div>Add To Wishlist</div></a>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        var swiper = new Swiper(".mySwiper", {
            loop: true,
            spaceBetween: 10,
            slidesPerView: 3,
            freeMode: true,
            watchSlidesProgress: true,
        });
        var swiper2 = new Swiper(".mySwiper2", {
            loop: true,
            spaceBetween: 10,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            thumbs: {
                swiper: swiper,
            },
        });
    </script>
}